/* styling*/
body {
  background-color: #f2bac9;
  font-family: "Secular One", sans-serif;
  font-size: 20px;
}

h1 {
  background-color: #7209b7;
  color: #f72585;
  padding: 20px;
  margin-right: 20px;
}

p {
  margin-left: 2px;
  margin-top: 10px;
  padding-top: 5px;
  font-size: 18px;
}
p::first-letter {
  color: #ab0f55;
  font-size: 20px;
  margin-right: 1px;
}
p::first-line {
  background-color: rgb(247, 133, 133);
}

h1::first-letter {
  color: #e4a5ff;
  font-size: 50px;
  margin-right: 2px;
}

/* class*/

/* Here I use span classes just to make Pseudo and Transitions to look different*/
.PE {
  text-decoration: underline;
  color: #f2bac9;
  font-weight: bold;
}
.TR {
  text-decoration: underline overline #b5179e;
  color: #f2bac9;
  font-weight: bolder;
}
/* end of span marking*/

/* example 1*/
.boxOne {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #480ca8;
  transition: width 2s;
  padding: 2px;
}

.boxOne:hover {
  width: 290px;
}

/* example 2*/
.boxTwo {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: #b5179e;
  transition: width 3s, height 6s;
}

.boxTwo:hover {
  width: 150px;
  height: 100px;
}

/* example 3*/
.flow {
  margin: 0px;
}

.circle,
.circle5,
.circle4,
.circle3,
.circle2,
.circle1,
.circle0 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
}
.flow:hover .circle,
.flow:hover .circle5,
.flow:hover .circle4,
.flow:hover .circle3,
.flow:hover .circle2,
.flow:hover .circle1,
.flow:hover .circle0 {
  transform: translateX(400px);
}

.circle0 {
  background: #f72585;
  transition: all 1.5s ease;
}

.circle1 {
  background: #4361ee;
  transition: all 1.5s linear;
}

.circle2 {
  background: #480ca8;
  transition: all 1.5s ease-in;
}

.circle3 {
  background: #b5179e;
  transition: all 1.5s ease-in-out;
}

.circle4 {
  background: #4cc9f0;
  transition: all 1.5s ease-out;
}

.circle5 {
  background: #7209b7;
  transition: all 1.5s cubic-bezier(0, 1, 0.98, 0);
}

/* example 4*/
.rotate {
  background: #f72585;
  border-radius: 20% 40%;
  height: 100px;
  margin-left: 100px;
  margin-top: 60px;
  transition: all 3s ease-in-out;
  width: 100px;
}

.rotate:hover {
  transform: rotate(1440deg);
  background-color: #3a0ca3;
}

/* example 5*/
.turn {
  background: #7209b7;
  border-radius: 5px 50%;
  height: 100px;
  margin-left: 250px;
  margin-top: 150px;
  transform-origin: left top;
  transition: transform 3s;
  width: 100px;
}

.turn:hover {
  transform: rotate(780deg);
}

.btnbot {
  background-color: #f72585;
  color: #8711c1;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  padding: 20px;
  font-size: 20px;
  cursor: grabbing;
}

.btnbot:hover {
  background-color: #8711c1;
  color: #f72585;
  transform: rotateZ(45deg);
}

/* marking text to change color*/
.purple::selection {
  background-color: #8338ec;
}

.red::selection {
  background-color: red;
}

.green::selection {
  background-color: green;
}

.yellow::selection {
  background-color: yellow;
}
/* End of marked text*/

/* ID's*/

#maincat {
  color: #4a006f;
  margin-left: 10px;
  max-width: 800px;
}

#secondcat {
  color: #4a006f;
  margin-left: 10px;
  max-width: 800px;
}

#persianpus {
  color: #4a006f;
  margin-left: 10px;
  max-width: 800px;
}

#gifpus {
  display: flex;
  justify-content: center;
  align-items: center;
}
